*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

body{
    background-color:hsl(225, 10%, 16%);
}

.home img{
    width: 180px;
    height: 180px;
    margin-top: 0%;
}

.logo{
    background-color:hsla(0, 0%, 100%, 0.163);
    border-bottom: rgba(173, 241, 173, 0.201) solid ;
}

a{
    text-decoration: none;
    color:rgb(173, 241, 173);
}

main{
    font-family: Consolas, 'Courier New', monospace;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    color:rgb(173, 241, 173);
    padding-bottom: 2rem;
    min-width: 300px;
}

h1{
    font-size: 200%;
}

.gradient{
    padding: 2rem;
}

button{
    padding:0.8rem;
    margin-bottom: 4rem;
    border: none;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color:hsl(25, 10%, 23%);
    background-color: rgb(4, 251, 12);
}

.classes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
    font-size: 1rem;
    gap:20px; 
}

.classes figure{
    overflow: hidden;
    margin-bottom: 2rem;
}

.classes img{
	object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonials {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}

.testimonial-container {
	background-color: hsla(220, 10%, 23%, 0.687);
	border-radius: 12px;
	padding: 30px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 5rem;
}

.testimonial-text {
	margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight:100;
}

.testimonial-name {
	margin-bottom: 5px;
    font-weight:bold;
    font-size: 1.5rem;
}

.Form input{
    font-size: 1.3rem;
    color:rgb(173, 241, 173);
    background-color:hsl(225, 10%, 16%);
    border:none;
    border-bottom: solid grey;
    border-width: 0.1em;
    padding: 1rem;
}

.send{
    font-size: 1rem;
    margin-left: 19%;
}

footer{
    padding-bottom: 2rem;
    padding-top: 1rem;
    min-width: 300px;
    background-color:hsla(220, 10%, 23%, 0.687);
    border-top: rgba(173, 241, 173, 0.201) solid;
}

ul {
    list-style-type: none;
    padding-left:0;
    display: grid;
    font-size: 1.2rem;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    justify-items: center;
}

.labels{
    color:rgb(173, 241, 173);
    padding-bottom: 0.5rem;
}

.copyright{
    color:rgb(129, 208, 129);
    text-align: center;
    font-size: 1rem;
}

@media screen and (min-width: 355px) {
    .backgrnd{
        background-image: url("/Resources/Background.PNG"); 
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top; 
    }
    
    .gradient{
        background-image:linear-gradient(hsla(220, 10%, 23%, 0.687),hsla(222, 10%, 19%, 0.923),hsl(225, 10%, 16%));
        border-radius: 1.5rem;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        margin-inline: 5vw;
        padding: 2rem;
    }
    
    .gradient2{
        background-color:hsl(225, 10%, 16%);
        margin-inline: 5vw;
        padding: 2rem;
    }

    .logo{
        background-color:hsla(0, 0%, 100%, 0);
        border-bottom-style: none;
    }
}

@media screen and (max-width: 672px) {
	.testimonials {
		grid-template-columns: 1fr;
	}

    .gradient{
        margin-inline: 0;
    }

    .gradient2{
        margin-inline: 0;
    }

    .classes{
        gap: 0;
    }
}

@media screen and (min-width: 460px) {
    .Form input{
        width: 400px;
    }
}