/* Web page reset settings */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

/* Sets the colour of the web page background */
body {
  background-color: hsl(225, 10%, 16%);
}

/* Sizing for home navigation logo image */
.home img {
  width: 180px;
  height: 180px;
}

/* Sets background colour for home navigation logo */
.logo {
  background-color: hsla(0, 0%, 100%, 0.163);
  border-bottom: rgba(173, 241, 173, 0.201) solid;
}

/* Removes link decorartion and changes text colour */
a {
  text-decoration: none;
  color: rgb(173, 241, 173);
}

a:visited,
a:hover{
    color: rgb(4, 251, 12);
}

/* Settings for main section */
main {
  font-family: Consolas, "Courier New", monospace;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  color: rgb(173, 241, 173);
  padding-bottom: 2rem;
  min-width: 300px;
  overflow: hidden;
}

/* Sets font size for headline */
h1 {
  font-size: 200%;
}

/* Adds padding around main section contents */
.gradient {
  padding: 2rem;
}

/* Sets style for buttons */
button {
  padding: 0.8rem;
  margin-bottom: 4rem;
  border: none;
  border-radius: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: hsl(25, 10%, 23%);
  background-color: rgb(4, 251, 12);
}

button:hover{
    background-color: rgb(122, 214, 122);
}

/* Sets layout template for extra classes */
.classes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
  gap: 20px;
}

/* Sets style for extra classes figures*/
.classes figure {
  overflow: hidden;
  margin-bottom: 2rem;
}

.classes img {
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Sets layout and animation details for testimonials */
.testimonials {
  display: flex;
  gap: 15%;
  margin: 0 auto;
  animation-name: slide;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

/* Sets animation and styling for testimonial frames or containers */
.testimonial-container {
  transition: all 2s ease;
  background-color: hsla(220, 10%, 23%, 0.687);
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 0 0 100%;
  margin-bottom: 5rem;
}

/* Styling for testimonials text */
.testimonial-text {
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: 100;
}

.testimonial-name {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1.5rem;
}

/* Styling for form used to request a call back */
.Form input {
  font-size: 1.3rem;
  color: rgb(173, 241, 173);
  background-color: hsl(225, 10%, 16%);
  border: none;
  border-bottom: solid grey;
  border-width: 0.1em;
  padding: 1rem;
}

/* Adjusts sizing for the button used to request a call back */
.send {
  font-size: 1rem;
  margin-left: 19%;
}

/* Sets styling for the footer */
footer {
  padding-bottom: 2rem;
  padding-top: 1rem;
  min-width: 300px;
  background-color: hsla(220, 10%, 23%, 0.687);
  border-top: rgba(173, 241, 173, 0.201) solid;
}

/* Sets layout for social media links */
ul {
  list-style-type: none;
  padding-left: 0;
  display: grid;
  font-size: 1.2rem;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  justify-items: center;
}

.labels {
  color: rgb(173, 241, 173);
  padding-bottom: 0.5rem;
}

/* Sets styling for copyright statement */
.copyright {
  color: rgb(129, 208, 129);
  text-align: center;
  font-size: 1rem;
}

/* Animation slide sequence for testimonials */
@keyframes slide {
  0% {
    transform: translateX(150%);
  }

  25% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-115%);
  }

  75% {
    transform: translateX(-230%);
  }

  100% {
    transform: translateX(-350%);
  }
}

/* Form styling changes for devices with a width that is greater than 459 pixels */
@media screen and (min-width: 460px) {
  .Form input {
    width: 400px;
  }
}

/* Adjusts the web page contents to fit the entire screen for devices with a width
that is less than 627 pixels */
@media screen and (max-width: 672px) {
  .gradient {
    margin-inline: 0;
  }

  .gradient2 {
    margin-inline: 0;
  }

  .classes {
    gap: 0;
  }
}

/* Adds a background image and changes logo background for devices with a width
that is greater than 355 pixels*/
@media screen and (min-width: 355px) {
  .backgrnd {
    background-image: url("Resources/Background.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }

  .gradient {
    background-image: linear-gradient(
      hsla(220, 10%, 23%, 0.687),
      hsla(222, 10%, 19%, 0.923),
      hsl(225, 10%, 16%)
    );
    border-radius: 1.5rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-inline: 5vw;
    padding: 2rem;
  }

  .gradient2 {
    background-color: hsl(225, 10%, 16%);
    margin-inline: 5vw;
    padding: 2rem;
  }

  .logo {
    background-color: hsla(0, 0%, 100%, 0);
    border-bottom-style: none;
  }
}
