*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

body{
    background-color:hsla(120, 10%, 16%, 0.77);
}

.home img{
    width: 200px;
    height: 200px;
}

a{
    text-decoration: none;
}

main{
    font-family: Consolas, 'Courier New', monospace;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    color:rgb(173, 241, 173);
    padding-bottom: 2rem;
    min-width: 300px;
}


button{
    padding:0.8rem;
    margin-bottom: 4rem;
    border: none;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color:hsl(25, 10%, 23%);
    background-color: rgb(4, 251, 12);
}

.classes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
    gap:20px; 
}

.classes figure{
    overflow: hidden;
}

.classes img{
	object-fit: cover;

}